*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

html,body{
	height: 100%;
}

.full-screen{
	min-height: 100%;
	position: relative;
}

.parallax-container{
	width: 100%;
	height: inherit;
	overflow-x: hidden;
}

.parallax{
	height: 600px;
	width: 100%;
	box-sizing: border-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax > h1{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	color: white;
	font-family: "Arial";
	font-weight: 100;
}

.bg{
	background-image: url('../img/city.jpg');
}

.bg2{
	background-image: url('../img/afternoon-anime.jpg');
}